<ul class="social-ul list">
    {% for item in socials %}
        <li class="social-li">
            <a class="social-a" href="{{ item.url }}" target="_blank" title="{{item.name}}">
                {{ item.svg | safe }}
                {# {{ item.name }} #}
            </a>
        </li>
    {% endfor %}
</ul>

{% css %}
    {% include "public/css/social-links.css"%}
{% endcss%}