pre[class*="language-"] {
	position: relative;
	word-break: break-all;
	white-space: pre-wrap;
}

pre[class*="language-"] code {
	max-width: 100%;
	word-break: break-all;
}

.highlight {
	position: relative;
}

pre[class*="language-"] button,
.highlight button {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	padding: 0.25rem 0.5rem;
	background: #2b2a33;
	color: white;
	border-radius: 0.25rem;
}

pre[class*="language-"] button:hover,
.highlight button:hover {
	background: #52525e;
}
