/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
}

:root {
	color-scheme: light dark;

	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333;

	--background-color: #f5f5f5;

	--text-color: var(--color-gray-90);
	--text-color-link: #9a4b3a;

	--tag-background: var(--text-color-link);
	--tag-foreground: white;

	--syntax-tab-size: 2;

	--body-width: 45rem;

	/* Fluid  */
	--step--2: clamp(0.7813rem, 0.793rem + -0.0152vw, 0.79rem);
	--step--1: clamp(0.8888rem, 0.8718rem + 0.0848vw, 0.9375rem);
	--step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
	--step-1: clamp(1.125rem, 1.0467rem + 0.3913vw, 1.35rem);
	--step-2: clamp(1.2656rem, 1.1424rem + 0.6163vw, 1.62rem);
	--step-3: clamp(1.4238rem, 1.2429rem + 0.9043vw, 1.9438rem);
	--step-4: clamp(1.6019rem, 1.3477rem + 1.2707vw, 2.3325rem);
	--step-5: clamp(1.8019rem, 1.4549rem + 1.7348vw, 2.7994rem);

	/* Major Second  */
	/* --step--3: 0.702rem;
	--step--2: 0.79rem;
	--step--1: 0.889rem;
	--step-0: 1rem;
	--step-1: 1.125rem;
	--step-2: 1.266rem;
	--step-3: 1.424rem;
	--step-4: 1.602rem;
	--step-5: 1.802rem; */

	/* Minor Third */
	--step--3: 0.579rem;
	--step--2: 0.694rem;
	--step--1: 0.833rem;
	--step-0: 1rem;
	--step-1: 1.2rem;
	--step-2: 1.44rem;
	--step-3: 1.728rem;
	--step-4: 2.074rem;
	--step-5: 2.488rem;

	/* Color rainbow */
	--color-1: #ec8f5e;
	--color-2: #f3b664;
	--color-3: #f1eb90;
	--color-4: #9fbb73;

	/* Undo  */
	--color-1: inherit;
	--color-2: inherit;
	--color-3: inherit;
	--color-4: inherit;
}

.color1 {
	background-color: var(--color-1);
}
.color2 {
	background-color: var(--color-2);
}
.color3 {
	background-color: var(--color-3);
}
.color4 {
	background-color: var(--color-4);
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #c0c0c0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #accae7;
		--tag-foreground: black;

		--background-color: #15202b;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body {
	font-size: 15px;
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	line-height: 1.6;
}
html {
	overflow-y: scroll;
}
body {
	max-width: var(--body-width);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
/* flow  */
.flow > * + * {
	margin-block-start: var(--flow-space, 1em);
}
:is(h1, h2, h3, blockquote) {
	--flow-space: 1.5em;
}

:is(h1, h2, h3) + * {
	--flow-space: 0.5em;
}

section {
	margin-block-start: 4rem;
}
h1,
h2,
h3 {
	line-height: 1.1;
	text-wrap: balance;
}
h1 {
	font-size: var(--step-4);
	font-weight: 600;
}
h2 {
	font-size: var(--step-3);
	font-weight: 600;
}
h3 {
	font-size: var(--step-2);
}
h4 {
	font-size: var(--step-1);
}
h5 {
	font-size: var(--step-0);
}
h6 {
	font-size: var(--step-0);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}

li {
	line-height: 1.5;
}

a,
a:visited,
a:hover,
a:active {
	/* color: var(--text-color-link); */
	color: var(--text-color);
}

blockquote {
	padding-left: 1rem;
	border-left: 2px var(--text-color-link) solid;
}

article a,
article a:visited,
article a:hover,
article a:active {
	color: var(--text-color-link);
}
article ul,
article ol {
	padding-left: 1em;
}
article ol li {
	list-style: decimal;
}
article li {
	list-style: disc;
}
article li li {
	list-style-type: "- ";
}

main {
	padding-inline: 1rem;
	padding-block-end: 1rem;
	max-width: 100%;
	flex-grow: 1;
}
main :first-child {
	margin-top: 0;
}

header {
	margin-block: 4rem;
}
header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	border-bottom: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

.links-nextprev li {
	line-height: 2;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
	margin: 0.5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}

code {
	word-break: keep-all;
	font-size: 0.9em;
	opacity: 0.8;
	/* word-break: break-all; */
}

/* Posts list */
.list {
	list-style: none;
	padding: 0;
}
.postlist-item {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin-bottom: 1em;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
	min-width: 8em;
	color: var(--color-gray-90);
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}
@media (max-width: 640px) {
	.postlist-item {
		flex-direction: column-reverse;
	}
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	font-size: var(--step--1);
	margin-bottom: 2rem;
}

.tags-container {
	display: flex;
	flex-wrap: wrap;
	column-gap: 0.5em;
	align-items: center;
}
.tags-container-post {
	margin-block-start: 0.75em;
}
.tags-icon {
	height: 1rem;
	width: 1rem;
}

/* Direct Links / Markdown Headers */
article {
	position: relative;
	margin-bottom: 2rem;
}
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
}
article a.header-anchor {
	color: var(--text-color);
}
.header-anchor:hover::after {
	content: "#";
	padding-left: 0.25em;
	text-decoration: underline;
}
h2 + .header-anchor {
	font-size: 1.5em;
}

/* post formatting utilities */
.small-image {
	width: 50%;
	margin-inline: auto;
}

.overflow-x-scroll {
	overflow-x: scroll;
}

article img {
	margin-inline: auto;
}

article kbd {
	background: #ddd;
	border-radius: 4px;
	padding: 2px 4px;
	color: black;
	font-size: var(--step--1);
}

.columns {
	columns: 2;
}
