:root {
	/* Icon Size */
	--icon-width: clamp(3rem, 12vw, 5rem);
	--icon-width-neg: calc((var(--icon-width) * -1));
	--icon-height: 80px;
}
/* Header */
header {
	position: relative;
	left: var(--icon-width);
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	padding: 1em;
	width: calc(100% - var(--icon-width));
}
.header-icon {
	position: absolute;
	left: var(--icon-width-neg);
	bottom: 1.5em;
	width: calc(var(--icon-width) + 0.5rem);
	height: var(--icon-height);
	padding-inline-start: 0.5rem;
}

.home-link {
	font-size: 1.5em;
	font-weight: 700;
	margin-right: 2em;
}
.home-link:hover {
	text-decoration: none;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	padding-right: 1em;
	border-right: 1px dotted var(--color-gray-50);
}
.nav-item:first-of-type {
	padding-inline-start: 0;
}
.nav-item:last-of-type {
	border: none;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	/* text-decoration: underline; */
}
