.project-nav {
    padding-block: 1rem;
    border-top: 1px dashed var(--color-gray-20);
}

.project-description {
    padding-block: 1rem;
}

.project-link-container {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
}

.project-links ul {
    padding-left: 0;
}