.toc-container {
    display: flex;
    align-items: flex-start;
    column-gap: 1.5rem;
}

aside {
    position: sticky;
    top: 5rem;
    order: 2;
    margin-inline-end: -8rem;
    font-size: var(--step--2);
    min-width: 10rem;
}

@media screen and (max-width: 56rem) {
    aside {
        display: none;
    }
}

.toc-heading {
    font-weight: bold;
}

.toc ol ol {
    margin-inline-start: 1em;
}

.toc li {
    margin-block-start: 0.25rem;
}