.toc-container {
    display: flex;
    align-items: flex-start;
    column-gap: 1.5rem;
}

aside {
    position: sticky;
    top: 5rem;
    order: 2;
    margin-inline-end: -8rem;
    font-size: var(--step--1);
}

@media screen and (max-width: 60rem) {
    aside {
        display: none;
    }
}

.toc-heading {
    /* text-decoration: underline; */
    font-weight: bold;
}