---
layout: layouts/home.njk
numberOfLatestPostsToShow: 5
---

<section class="flow">
    <h1>Hello, World!</h1>
    <p>
        I'm an Arizona-based web developer, birder, and musician.
    </p>
    <div class="social-container"><span>Find me on: </span>{% include "components/social-links.njk" %}</div>
</section>

<section class="flow">
    <h2>Recent Posts</h2>
    {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
    {% include "components/postslist.njk" %}
</section>

<section class="flow">
    <h2 id="projects">Projects</h2>
    {% include "components/projects-list.njk" %}
</section>