---
permalink: /tags/
layout: layouts/page.njk
---

<h1>Tags</h1>
<div class="columns">
    {% for tag in collections.all | getAllTagsWithCount %}
        {% set tagUrl %}/tags/{{ tag[0] | slugify }}/{% endset %}
        <p>
            <a href="{{ tagUrl }}"># {{ tag[0] }} ({{ tag[1] }})</a>
        </p>
    {% endfor %}
</div>