---
permalink: /tags/
layout: layouts/page.njk
---
<h1>Tags</h1>

<ul>
{% for tag in collections.all | getAllTagsWithCount %}
	{% set tagUrl %}/tags/{{ tag[0] | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}"># {{ tag[0] }}</a> - {{tag[1]}}</li>
{% endfor %}
</ul>