{% css %}
{% include "public/css/footer.css" %}
{% endcss %}
<footer>
    <span>&copy; Parker Davis {% year %}</span>
    <span>
        <a href="https://github.com/parkerdavis1/agave-portfolio/tree/main/{{ page.inputPath }}">
            Edit this page on github</a>
    </span>
</footer>