{% from "components/tech-list.njk" import techlist %}
<ul class="projects-ul">
    {% for project in collections.projects %}
        <li class="projects-li">
            <a class="projects-a" href="{{ project.url }}">
                {{ project.data.title }}
            </a>
            {# <div class="tags-container">
                {% if project.data.techtags %}
                    {{ techlist(project.data.techtags) }}
                {% endif %}
            </div> #}
            <p class="project-summary">{{ project.data.summary }}</p>
        </li>
    {% endfor %}
</ul>
{% css %}
{% include "public/css/projects-list.css" %}
{% endcss %}