<div class="project-links">
    <ul>
        {% if githubUrl %}
            <li class="project-link-container">
                {% include "icons/code-window.svg" %}
                <a href="{{ githubUrl }}">Source code (github)</a>
            </li>
        {% endif %}
        {% if liveUrl %}
            <li class="project-link-container">
                {% include "icons/earth.svg" %}
                <a href="{{ liveUrl }}">Live demo</a>
            </li>
        {% endif %}
    </ul>
</div>