---
layout: layouts/base.njk
---
{% css %}
{% include "public/css/prism/prism-lucario.css" %}
{% include "public/css/prism/prism-diff.css" %}
{% include "public/css/toc.css" %}
{% endcss %}

{{ content | safe }}