---
layout: layouts/base.njk
---

{% css %}
{% include "public/css/prism/prism-lucario.css" %}
{% include "public/css/prism/prism-diff.css" %}
{% include "public/css/toc.css" %}
{% include "public/css/tooltips.css" %}
{% include "public/css/copyCodeButton.css" %}
{% endcss %}
{# START, divs around Prism `pre``code` stuff #}
{% set modifiedContent = content %}
{% set withoutDivStart = '<pre class="language-' %}
{% set withDivStart = '<div class="highlight"><pre class="language-' %}
{% set withoutDivEnd = '</code></pre>' %}
{% set withDivEnd = '</code></pre></div>' %}
{% if withoutDivStart in content %}
    {% set modifiedContent = content | replace (withoutDivStart, withDivStart) %}
    {% set modifiedContent = modifiedContent | replace (withoutDivEnd, withDivEnd) %}
{% endif %}
{#   END, divs around Prism `pre``code` stuff #}
{{ modifiedContent | safe }}
{% js %}
{% include "public/scripts/copyButton.js" %}
{% endjs %}